.site-footer .powered-by {
    display: none;
}

.article-container .share-box {
    display: none;
}

blockquote {
    color: #5e6a76;
}

a {
    color: #1d63a0;
    a:hover {
      color: #1d63a0;
    }
}

a.footnote-backref {
    display: none;
}
